[project]
	description = test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/anbao789
[access "refs/for/refs/*"]
	read = group user/anbao789
	push = group user/anbao789
	label-Code-Review = -2..+2 group user/anbao789
	label-Verified = -1..+1 group user/anbao789
	rebase = group user/anbao789
	removeReviewer = group user/anbao789
	submit = group user/anbao789
[access "refs/heads/*"]
	read = group user/anbao789
	create = group user/anbao789
	push = +force group user/anbao789
	pushMerge = group user/anbao789
[access "refs/tags/*"]
	push = group user/anbao789
	push = +force group user/anbao789
